body{
    background: var(--beige, #EEEEEF);
}

.wrapper{
width: 1400px;
margin: auto;
}


/* Header */
.top-header{
font-family: Cabin; 
position: sticky;
top: 0;
left: 0;
width: 100%;
z-index: 9999;
}


.top-header-blue{
display: flex;
height: 72px;
padding: 16px 52px;
justify-content: space-between;
align-items: center;
background: #10BBD5;  
}


.top-header-icon{
width: 135px;
height: 28px;
background-image: url(/icon/logo.png);

}

.book-read{
color: #F8FDFE;
font-size: 24px;
font-weight: 700;
}

.top-header-basket{
display: flex;
align-items: center;
}

.top-header-price{
color: #F8FDFE;
font-size: 16px;
font-weight: 400;
line-height: 24px; /* 150% */
}

.top-header-btn{
background-image: url(/icon/cart_icon.png);
width: 40px;
height: 40px;
background-repeat: no-repeat;
background-color: #10BBD5;
border: none;
}

.top-header-bottom{
display: flex;
color: #000;
font-size: 16px;
line-height: 24px; /* 150% */
padding: 0 52px;
justify-content: space-between;
background-color: white;
}

.top-header-bottom-nav{
    display: flex;
    gap: 40px;
}

.list-item{
    list-style-type: none;
}   
 
.list-item-link{
    text-decoration: none;
    color: #000;
}

/* Main */
.main{
    background: var(--beige, #EEEEEF);
    position: relative;
}


.bestsellers{
    padding: 32px 0 23px 52px;
    color: #1F1F1F;
    font-size: 32px;
   font-weight: 600;
    line-height: 40px;
}

.bestsellers-line{
    width: 1296px;
    height: 1px;
    background: #A8A8A8;
    border: none;
}

.product-cart-container{
    display: grid;
    font-family: Cabin; 
    grid-template-rows:auto auto auto;
    grid-template-columns: auto auto auto auto;
    padding: 24px 32px;
    grid-gap: 30px 25px;
 
}

.product-cart{
    border: 1px solid #A8A8A8;
    height: 512px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F8FDFE;
   position: relative;
}


.product-cart-img{
width: 178px;
height: 280px;
margin-bottom: 16px;
}

.product-cart-title{
width: 242px;
height: 31px; 
overflow: hidden;
color: var(--black, #1F1F1F);
text-overflow: ellipsis;
white-space: nowrap;
font-size: 20px;
font-weight: 700;
line-height: 28px; /* 140% */
text-decoration: none;

}

.product-cart-line{
height: 1px;
align-self: stretch;
background: #A8A8A8;
width: 242px;
border: none;
margin: 0 32px;
}

.product-cart-subtitle{
width: 242px;
height: 24px; 
overflow: hidden;
color: var(--gray, #8E8E8E);
text-overflow: ellipsis;
white-space: nowrap;
font-size: 16px;
font-weight: 400;
line-height: 24px; /* 150% */
color: #8E8E8E;
}
.prise-wrapper{
    font-size: 24px;
    font-weight: 500;
    line-height: 32px; /* 133.333% */
    display: flex;
    width: 242px;
    margin: 16px 32px;
    gap: 24px;
}
.product-cart-prise{
color: #E90000;
align-items: flex-start;
}

.product-cart-prise-line{
    font-weight: 500;
    font-size: 24px;
    line-height: 1.33333;
    text-decoration: line-through;
    color: #8e8e8e;
}

.product-cart-btn{
padding: 8px 24px;
border-radius: 4px;
background: var(--eggplant, #4C394E);
color: var(--white, #F8FDFE);
font-size: 16px;
font-weight: 400;
line-height: 24px; /* 150% */
padding: 8px 24px;
width: 242px;
height: 40px;
 }

 .product-cart-btn:hover{
border-radius: 4px;
background: #4D762D;
padding: 8px 24px; 
 }

 .product-cart-btn::before{
    content: "Add to basket" ;
 }

 .product-cart-btn:hover::before {
    content: "End up";
  }


  /* Footer */
  .footer{
    display: flex;
    background-color:  #4C394E;
    height: 24px;
    justify-content: space-between;
    align-items: center;
    font-family: Cabin;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; /* 150% */
    padding: 32px 52px;
  }
  

  .footer-2023{
    color: var(--white, #F8FDFE);
  }

  .footer-all-right{
    color: var(--white, #F8FDFE);
}


.fixed-icon{
border: none;
border-radius: 50%;
background-color: #10BBD5; 
position: fixed;
top: 50%;
left:97%;
transform: translate(-50%,-50%);
width: 64px;
height: 64px;
}

.lable-hit{
    
    background: #4200FF;
    
}

.lable-off{
    background-color:#ea33c0;
    
   }

.lable-hit,
.lable-off,
.lable-new{
    border-radius: 4px;
    padding: 4px  8px;
    line-height: 1.5;
    border: none;
    color: #f8fdfe;
    font-family: Cabin;
}

.badge-wrapper{
    position: absolute;
    top: 27px;
    left: 37px;
    text-align: center;
   
    
}


.lable-new{

    background-color: #AF39E7 ;  
}
